.store{
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
}
.secondTitle{
    display: flex;
    justify-content: center;
    color: #f7925f;
}
.storeImg{
    margin-top: 15px;
    width: 1424px;
}
.storeHistory{
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    margin: 0 auto;
    text-align: justify;
}
.storeHistoryText{
    font-size: 16px;
    color: rgb(33, 32, 61);
}
@media only screen and (min-width: 768px) {
.storeImg {
    margin-top: 15px;
    width: 937px;
}
.storeHistory{
    margin-top: 67px;
}
}